* {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background-color: #fe8307;
}

.main_container {
  display: none;
  /* switch between none and flex */
  height: 100vh;
}

#login-container {
  display: flex;
  /* switch between none and flex */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fe8307;
}

#login-image-container {
  display: block;
}

#login-submit {
  margin: 1.5vw 3vh
}

#login-header-img {
  height: 50vh;
}

#login-form {
  background-color: #fe8307;

  text-align: center;
  margin: 1.5vw 3vh;
}

#image-input {
  margin: 1.5vw 3vh;
  display: none;
  outline: none;
  border-radius: 6px;
  padding: 2px;
}

#username-input {
  margin: 1.5vw 3vh;
  outline: none;
  border-radius: 6px;
  padding: 2px;
}

.sidebar {
  width: 20vw;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  background-color: #fff;
}

.sidebar .sidebar_header {
  background-color: #fe8307;
  overflow: hidden;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.sidebar .sidebar_header .logo_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.sidebar .sidebar_header .logo_wrapper img {
  height: 550%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
}

.sidebar .user_details {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 13px;
  border-radius: 5px;
  position: relative;
  height:
}

.sidebar .sidebar_header .user_details .user_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sidebar .sidebar_header .user_details p {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.search_bar_wrapper input[type=text] {
  width: 0px;
  max-width: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('magnifier.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 5px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-top: 15px;
  color: #fe8307;
}

::placeholder {
  color: #fe8307;
}

.search_bar_wrapper input[type=text]:focus {
  outline: none;
  border-color: #fe8307;
  color: #fe8307;
  width: 100%;
  box-shadow: 0, 0, 5px, #fe8307;
  border: 1px, solid, #fe8307;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  transition: .2s;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}

.sidebar ul li#active_user {
  background-color: #fe8307;
  border: 2px solid #fe8307;
  color: #fff;
  border-radius: 5px;
}

.sidebar ul li:hover {
  border: 2px solid #fe8307;
  cursor: pointer;
}

.sidebar ul li img.message_usr_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}

.content {
  height: 100vh;
  padding: 30px 15px;
  min-width: 700px;
  flex: 1 1 auto;
  background-color: #fe8307;
  overflow: hidden;
}

.content .messages {
  padding: 20px 10px;
  height: calc(75vh - 15px);
  margin: 0 auto;
  list-style: none;
  background-color: #fff;
  width: 93.3%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.content .messages .message {
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: flex-start;
}

.content .messages .message .message_usr_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: pink;
}

.content .messages .message .message_text {
  margin: 0;
  max-width: 55%;
  background-color: green;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
.content .messages .sender_message {
  display: flex;
  flex-direction: row-reverse;
}

.content .messages .sender_message .message_text {
  background-color: #fe8307;
  color: #fff;
  margin-right: 20px;
}

.content .messages .receiver_message .message_text {
  background-color: #eee;
  color: #fe8307;
  margin-left: 20px;
}

.content .new_message {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  height: calc(25vh - 15px);
  padding: 20px 10px 0;
}

.content .new_message label {
  height: 70%;
  width: 70%;
}

.content .new_message label textarea {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.content .new_message label textarea:active,
.content .new_message label textarea:focus {
  border-color: #fe8307;
}

.content .new_message button {
  height: 35%;
  width: 20%;
  position: relative;
  border-radius: 5px;
  border: 3px solid #fff;
  background-color: #fe8307;
  overflow: hidden;
  transition: .3s;
  outline: none;
}

.content .new_message button:hover {
  background-color: #fff;
  cursor: pointer;
}

.content .new_message button img {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -50%);
}
